@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
.backdrops {
  position: fixed;
  inset: 0;
  background: rgba(50, 48, 48, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  background:#3b82f6;
  width: 340px;
  padding: 22px;
  border-radius: 10px;
  animation: scaleIn 0.2s ease;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.title {
  font-size: 20px;
  margin-bottom: 6px;
  color: #BED1F7;
}

.message {
  font-size: 14px;
  color: white;font-weight: 700;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.cancelBtn {
  background: #e0e0e0;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  color: #000;font-weight: normal;
}

.confirmBtn {
  background: #e63946;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}
