.Projects {
  /* background-color: #092528; */
  background: #0b1428;
  background: linear-gradient(
    90deg,
    rgba(11, 20, 40, 1) 20%,
    rgba(12, 21, 41, 1) 50%,
    rgba(5, 4, 4, 1) 100%
  );
  width: 100%;
  height: 90%;
  border-radius: 0px 0px 15px 0px;
  /* border-right: 1px solid #16ff1ba3; */
}
.Pfit {
  border-top: 1px solid #0371ea;
  /* width: 100%; */
  height: 88vh;
  border-radius: 0px 0px 15px 0px;
}
.Addemp{
 /* background-color: antiquewhite;  */
   width: auto;
    height: 5vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
    padding-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.AddempBtn{
  background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgb(16 73 185 / 10%);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}
.Emplist {
  background-color: #0b1428;
}